<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="wuge.social.com">
    <uses-permission android:name="android.permission.INTERNET" /><!--网络-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /><!--读-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /><!--写-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <application
        android:name="filedownloader.DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/AppTheme">

        <!--微信登录必须要设置的-->
        <meta-data
            android:name="wechat_app_secret"
            android:value="c9c39142f470d154151d3ee51f1d425f" />

        <!--地图-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="48d18bff6ae1d31ba2ec65ab6fa7bd4d"/>

        <activity android:name=".activity.StartupActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="filedownloader.MainActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.LogInActivity"
            android:launchMode="singleTop"/>

        <activity android:name=".activity.HomeActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.PersonalActivity1"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.ImActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.DiscoverIssueActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".activity.PersonalSetActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name="cn.finalteam.rxgalleryfinal.ui.activity.MediaActivity"
            android:exported="true"
            android:theme="@style/Theme_Light.Test" />
        <activity
            android:name="filedownloader.HybridTestActivity"
            android:label="@string/hybrid_test_title" />
        <activity
            android:name="filedownloader.SingleTaskTestActivity"
            android:label="@string/single_task_test_title" />
        <activity
            android:name="filedownloader.MultitaskTestActivity"
            android:label="@string/multitask_test_title" />
        <activity
            android:name="filedownloader.performance.PerformanceTestActivity"
            android:label="@string/performance_test_title" />
        <activity
            android:name="filedownloader.TasksManagerDemoActivity"
            android:label="@string/tasks_manager_demo_title" />
        <activity
            android:name="filedownloader.NotificationSampleActivity"
            android:label="@string/notification_sample_title" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />

        <!--用于更新包安装-->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.yuanmalian.live.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                tools:replace="android:resource" />

        </provider>
    </application>
    <!--微信-->
    <queries>
        <package android:name="com.tencent.mm" />
    </queries>
</manifest>